.lead-card {
  background: linear-gradient(
    120deg,
    var(--background) 0%,
    var(--surface) 60%,
    var(--primary) 100%
  );
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  transition: box-shadow 0.3s ease;
}

.lead-card-progress-wrapper {
  background-color: var(--surface);
  border-radius: 8px;
  height: 12px;
  margin: 5px 0;
  overflow: hidden;
  width: 100%;
}

.lead-card-progress-bar {
  height: 100%;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.lead-card-input,
.lead-card-select {
    background-color: var(--background);
    border: 1px solid var(--surface);
    border-radius: 4px;
    box-sizing: border-box;  
    color: white;
    padding: 8px;
    width: 100%;
}