.lead-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 24px;
}

.lead-table th,
.lead-table td {
  padding: 12px 15px;
  border: 1px solid var(--surface);
}

.high-score {
  background: linear-gradient(
    120deg,
    var(--background) 0%,
    var(--surface) 60%,
    var(--primary) 100%
  );
  color: white;
}

thead {
  background: linear-gradient(135deg, #2D334A 0%, #4A3F7F 50%, #7F5AF0 100%);
  color: #fff;
}